.userLOGGEDInfo{
    display: block;
    background-color: rgb(80, 121, 121);
    max-width: 210px;
    height: 100px;
    margin-left: 20px;
    border-radius: 10px;
}
.userLOGGEDInfoUL{
    display: flex;
    justify-content: space-around;
}
.ProfileImg{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: -11px;
    margin-left: -35px;
}
.userLOGGEDInfoSPAN{
    margin-top:15px ;
    color: rgb(255, 255, 255);
    font-size: large;
}
.followerss{
    color: white;
    margin-left: 95px;
    margin-top: 10px;
}
.followerssItem{
    display: flex;
}
    

