.Navbar1{
    background-color: black;
    height: 100px;

}

.allItems{
    display:flex;
    justify-content: center;
}

.Navbar1 .pagesItemsUl{
    display:flex;

    
}

.Navbar1 .pagesItemsUl li{
   list-style: none;
   margin-left: 200px;
   display: flex;
   
}

.Navbar1 .pagesItemsUl li a{
    text-decoration: none;
    color: rgb(235, 243, 213);
    
    
 }


.homeicon{
    height: 70px;
    width: 30px;
}
.searchicon{
    height: 70px;
    width: 30px;
    color: rgb(255, 255, 255);
}
.notiicon{
    height: 70px;
    width: 30px;
}
.inboxicon{
    height: 70px;
    width: 30px;
}
.profileicon{
    height: 70px;
    width: 30px;
}
.loginicon{
    height: 70px;
    width: 30px;
}
.Logo-trip{
    height: 80px;
    width: 90px;
    margin-right: 140px;
    margin-top: 8px;
}
.motto{
    margin-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Notifications {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: 30px;
    right: 212px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
  .Inbox {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: 30px;
    right: 148px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
  .searchItems{
    margin-top: 30px;
}
  .sideBar{
      position: fixed;
      margin-left: 85%;
  }
  .sideItem{
      border-bottom: double;
      margin-bottom: 12px;
      width: 120px;
      align-items: center;
      justify-content: center;
  }
.sideItem a{
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #000;
}