  .mainContainer {
    background-color: #351d0088;
    font-size: 26px;
    width: 500px;
    height: min-content;
    border-radius: 5px;
    padding: 20px;
    margin:auto;
    margin-top: 50px;
    align-items: center;
    margin-left: 200px;
    box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.35);
  }
  
  .mainContainer .title {
    text-align: center;
  }
  
  .mainContainer .add-item-box {
    background: #746a559e;
    color: #423015;
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
  }
  
  .mainContainer .add-item-box svg {
    margin: 5px;
  }
  
 .mainContainer  .add-item-input {
    box-sizing: border-box;
    border: none;
    background: transparent;
    color: #53472e;
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    height: 30px;
  }
  
 .mainContainer input::placeholder {
    color: #382f19;
  }
 .mainContainer input:focus {
    outline: 0;
  }
  
 .mainContainer .item-list {
    display: flex;
    flex-direction: column;
  }
  
 .mainContainer .item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 20px 0;
    border-bottom: 1px #151a1d solid;
  }
  
 .mainContainer .item-name {
    cursor: pointer;
    font-size: 20px;
  }
  
 .mainContainer .item-name svg {
    margin-left: 5px;
    margin-right: 5px;
  }
  
 .mainContainer .item-action-buttons {
    /* width: 30%; */
    display: flex;
    justify-content: space-between;
  }
  
 .mainContainer .remove-button {
    color: white;
    background-color: red;
  }
  
 .mainContainer .total {
    float: right;
    padding: 10px;
  }
  
 .mainContainer .quantity {
    display: flex;
    align-items: center;
    border: 1px solid #6d613b;
    background: white;
    border-radius: 50px;
    font-size: 16px;
    color: #483819;
    width: 130px;
    justify-content: space-between;
  }
  
 .mainContainer button {
    background: transparent;
    border: none;
    margin: 3px;
    color: #6d613b;
  }
 .mainContainer button:focus {
    outline: 0;
  }
  
 .mainContainer button:hover {
    cursor: pointer;
  }
  
 .mainContainer .completed {
    text-decoration: line-through;
  }