.buildTripUp{
    background-image: url("C:\Users\Yara Waheb\OneDrive\שולחן העבודה\lotus\project\my-app\public\images\buildup.PNG");
    height: 200px;
}
.buildTripCenter{
    background-color: rgb(255, 254, 246);
    height: 700px;
}