.share{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    background-color: rgba(127, 74, 74, 0.146);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: 30px;
    width: 600px;
    padding-bottom: 5%;
}
.share input{
    border: none;
    border-bottom: solid black 1px;
    background-color: rgba(255, 255, 255, 0.105);
    margin-bottom: 5px;
    max-width: 200px;
}
.allForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.personalinfor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 10%;
}
.uploadPhotoBtn{
    height: 25vh;
    width: 40vh;
    margin-left: 150px;
    margin-top: 15px;
    background-color: rgb(245, 245, 245);
    border-style: solid;
    border-color: rgb(88, 88, 88);
    justify-content: center;
}
.uploadbtn{
    margin-top: 22px;
}
.place{
    margin-top: 20px;
}
.place label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
}
.shareBtn {
    margin-left: 400px;
    margin-top: 30px;
    cursor: pointer;
    color: rgba(134, 53, 53, 0.799);
    background-color: white;
    border-style: none;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
      box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}
