.share{
    height: 80vh;
    width: 90vh;
    padding: auto;
    margin-top: 10px;
    margin-left: 25vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    background-color: rgb(239, 248, 248);
    padding-left: 230px;
    padding-top: 20px;
    padding-bottom: 200px;
    padding-right: 120px;
}
.uploadPhotoBtn{
    height: 45vh;
    width: 70vh;
    padding: auto;
    margin-right: 100px;
    background-color: rgb(245, 245, 245);
    border-style: solid;
    border-color: rgb(88, 88, 88);
}
.uploadPhotoBtn button{
    margin-top: 22%;
    margin-left: 35%;
}
.place{
    margin-top: 20px;
}
.place label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
}
.shareBtn {
    margin-top: 200px;
    margin-left: 100px;
}